<h2>Create New Landmark</h2>

<!-- add content here -->
<form method="POST" action="/landmarks">

Name: <input type="text" name="landmark[name]" id="landmark_name"><br>
Year Completed: <input type="text" name="landmark[year_completed]" id="landmark_year_completed"><br><br>

<br><br>
<input type="submit" value="Create New Landmark">
</form>
<br>
<a class="button" href="/landmarks">Landmarks</a> | 
<a class="button" href="/">Home</a>
